{% extends 'layout.html.twig' %}
{% set active = 'add' %}

{% block content %}
    <form action="" method="post" novalidate {{ form_enctype(form) }} class="form-horizontal">
        {{ form_widget(form) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'Send'|trans }}</button>
        </div>
    </form>

{% endblock %}

